<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" href="../css/main.css">

  <script src="../bower_components/jquery/jquery.min.js"></script>

  <script src="../bower_components/requirejs/require.js" data-main="../js/modules/main.js"></script>
</head>
<body>
  
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, molestias, eaque ducimus suscipit illum vero harum ipsam laudantium ipsa est saepe beatae laboriosam alias minus error dicta laborum recusandae consequuntur.</p>

</body>
</html>