<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ui-controls</title>
</head>
<body>

<h1>Buttons</h1>

<table>
  <tr>
    <th>
      button
    </th>

    <td>
      <button>Lorem ipsum.</button>
    </td>
  </tr>

  <tr>
    <th>
      disabled button
    </th>

    <td>
      <button disabled>Lorem ipsum.</button>
    </td>
  </tr>
</table>

<h1>Textfields</h1>

<h2>Input</h2>

<table>
  <tr>
    <th>
      input
    </th>
    <td>
      <input type="text">
    </td>
  </tr>

  <tr>
    <th>
      input with value=""
    </th>

    <td>
      <input type="text" value="Lorem ipsum dolor.">
    </td>
  </tr>

  <tr>
    <th>
      input with placeholder=""
    </th>

    <td>
      <input type="text" placeholder="Lorem ipsum dolor.">
    </td>
  </tr>

  <tr>
    <th>
      disabled input
    </th>

    <td>
      <input type="text" disabled>
    </td>
  </tr>

  <tr>
    <th>
      disabled input with value=""
    </th>

    <td>
      <input type="text" disabled value="Lorem ipsum dolor.">
    </td>
  </tr>

  <tr>
    <th>
      disabled input with placeholder=""
    </th>

    <td>
      <input type="text" disabled placeholder="Lorem ipsum dolor.">
    </td>
  </tr>
</table>

<h2>Textarea</h2>

<table>
  <tr>
    <th>
      textarea
    </th>
    <td>
      <textarea></textarea>
    </td>
  </tr>

  <tr>
    <th>
      textarea with content
    </th>

    <td>
      <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, est.</textarea>
    </td>
  </tr>

  <tr>
    <th>
      textarea with placeholder=""
    </th>

    <td>
      <textarea placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, unde?"></textarea>
    </td>
  </tr>

  <tr>
    <th>
      disabled textarea
    </th>

    <td>
      <textarea disabled></textarea>
    </td>
  </tr>

  <tr>
    <th>
      disabled textarea with content
    </th>

    <td>
      <textarea disabled value="value">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, itaque?</textarea>
    </td>
  </tr>

  <tr>
    <th>
      disabled textarea with placeholder=""
    </th>

    <td>
      <textarea disabled placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, consequatur."></textarea>
    </td>
  </tr>
</table>

<h1>Checkfields</h1>

<h2>Checkbox</h2>

<table>
  <tr>
    <th>
      checkbox list
    </th>

    <td>
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
      <input type="checkbox">
    </td>
  </tr>

  <tr>
    <th>
      checkbox list with checked checkboxes
    </th>

    <td>
      <input type="checkbox">
      <input type="checkbox" checked>
      <input type="checkbox">
      <input type="checkbox" checked>
      <input type="checkbox">
    </td>
  </tr>

  <tr>
    <th>
      checkbox list with disabled checkboxes
    </th>

    <td>
      <input type="checkbox">
      <input type="checkbox" disabled>
      <input type="checkbox">
      <input type="checkbox" disabled>
      <input type="checkbox">
    </td>
  </tr>

  <tr>
    <th>
      checkbox list with disabled checked checkboxes
    </th>

    <td>
      <input type="checkbox">
      <input type="checkbox" disabled checked>
      <input type="checkbox">
      <input type="checkbox" disabled>
      <input type="checkbox" disabled checked>
    </td>
  </tr>
</table>

<h2>Radio</h2>

<table>
  <tr>
    <th>
      radio list
    </th>

    <td>
      <input type="radio" name="radio1">
      <input type="radio" name="radio1">
      <input type="radio" name="radio1">
      <input type="radio" name="radio1">
      <input type="radio" name="radio1">
    </td>
  </tr>

  <tr>
    <th>
      radio list with checked radio
    </th>

    <td>
      <input type="radio" name="radio2">
      <input type="radio" name="radio2">
      <input type="radio" name="radio2">
      <input type="radio" name="radio2" checked>
      <input type="radio" name="radio2">
    </td>
  </tr>

  <tr>
    <th>
      radio list with disabled radio
    </th>

    <td>
      <input type="radio" name="radio3">
      <input type="radio" name="radio3">
      <input type="radio" name="radio3">
      <input type="radio" name="radio3" disabled>
      <input type="radio" name="radio3">
    </td>
  </tr>

  <tr>
    <th>
      radio list with disabled checked radio
    </th>

    <td>
      <input type="radio" name="radio4">
      <input type="radio" name="radio4" disabled>
      <input type="radio" name="radio4">
      <input type="radio" name="radio4" disabled>
      <input type="radio" name="radio4" disabled checked>
    </td>
  </tr>
</table>

<h1>Selects</h1>

<h2>Select</h2>

<table>
  <tr>
    <th>
      select
    </th>

    <td>
      <select>
        <option value="">Lorem.</option>
        <option value="">Excepturi.</option>
        <option value="">Natus.</option>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      select with selected option
    </th>

    <td>
      <select>
        <option value="">Lorem.</option>
        <option value="" selected>Excepturi.</option>
        <option value="">Natus.</option>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      disabled select
    </th>

    <td>
      <select disabled>
        <option value="">Lorem.</option>
        <option value="">Excepturi.</option>
        <option value="">Natus.</option>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      select with disabled options
    </th>

    <td>
      <select>
        <option value="">Lorem ipsum.</option>
        <option value="" disabled>Nulla, iusto.</option>
        <option value="">Neque, nemo!</option>
        <option value="" disabled>Dolorem, rerum!</option>
        <option value="">Sit, nemo!</option>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      select with long option list
    </th>

    <td>
      <select>
        <option value="">Lorem ipsum.</option>
        <option value="">Nulla, iusto.</option>
        <option value="">Neque, nemo!</option>
        <option value="">Dolorem, rerum!</option>
        <option value="">Sit, nemo!</option>
        <option value="">Provident, in.</option>
        <option value="">Voluptatem, expedita!</option>
        <option value="">Eum, aspernatur.</option>
        <option value="">Unde, at.</option>
        <option value="">Aut, quas?</option>
        <option value="">Voluptatibus, eius!</option>
        <option value="">Et, suscipit!</option>
        <option value="">Alias, aut.</option>
        <option value="">Voluptate, tempore.</option>
        <option value="">Aliquid, itaque.</option>
        <option value="">Accusantium, harum!</option>
        <option value="">Soluta, consequuntur!</option>
        <option value="">In, mollitia.</option>
        <option value="">Perferendis, hic.</option>
        <option value="">Vero, provident.</option>
        <option value="">Ut, magnam.</option>
        <option value="">Laudantium, vero.</option>
        <option value="">Sed, suscipit.</option>
        <option value="">Ad, beatae.</option>
        <option value="">Quo, veritatis.</option>
        <option value="">Delectus, dicta!</option>
        <option value="">Dicta, minima!</option>
        <option value="">Inventore, id.</option>
        <option value="">Illo, facere!</option>
        <option value="">Itaque, adipisci.</option>
        <option value="">Atque, vel.</option>
        <option value="">Est, nesciunt.</option>
        <option value="">Ipsum, culpa!</option>
        <option value="">Quas, corporis.</option>
        <option value="">Ipsam, nihil.</option>
        <option value="">Molestiae, nisi.</option>
        <option value="">Architecto, maxime?</option>
        <option value="">Corrupti, fugit?</option>
        <option value="">Ad, maiores.</option>
        <option value="">Saepe, neque.</option>
        <option value="">Velit, eum.</option>
        <option value="">Ipsam, incidunt.</option>
        <option value="">Hic, qui.</option>
        <option value="">Eaque, dicta!</option>
        <option value="">Illo, repellendus.</option>
        <option value="">Deleniti, excepturi!</option>
        <option value="">Accusamus, omnis.</option>
        <option value="">Commodi, et!</option>
        <option value="">Asperiores, animi?</option>
        <option value="">Fuga, incidunt.</option>
        <option value="">Ut, soluta.</option>
        <option value="">Doloribus, culpa.</option>
        <option value="">Est, facilis!</option>
        <option value="">Corporis, qui.</option>
        <option value="">Consequuntur, reprehenderit!</option>
        <option value="">A, quis.</option>
        <option value="">Esse, omnis.</option>
        <option value="">Excepturi, delectus!</option>
        <option value="">Delectus, dolorum.</option>
        <option value="">Asperiores, deserunt.</option>
        <option value="">Aliquid, tempore?</option>
        <option value="">At, autem.</option>
        <option value="">Mollitia, officia!</option>
        <option value="">Alias, at!</option>
        <option value="">Voluptatum, illo!</option>
        <option value="">Quae, quisquam!</option>
        <option value="">Dolore, ab.</option>
        <option value="">Officia, blanditiis?</option>
        <option value="">Nihil, at.</option>
        <option value="">Voluptatibus, assumenda.</option>
        <option value="">Suscipit, mollitia?</option>
        <option value="">Ad, dicta?</option>
        <option value="">Voluptates, aliquam?</option>
        <option value="">Aliquid, cum.</option>
        <option value="">Voluptates, necessitatibus.</option>
        <option value="">Corporis, eveniet.</option>
        <option value="">Ducimus, voluptates.</option>
        <option value="">Aliquid, consectetur.</option>
        <option value="">Ab, nisi!</option>
        <option value="">Tempora, sapiente.</option>
        <option value="">Et, sapiente.</option>
        <option value="">Quod, dolorem.</option>
        <option value="">Id, pariatur!</option>
        <option value="">Id, autem.</option>
        <option value="">Aut, quasi!</option>
        <option value="">Odio, et.</option>
        <option value="">Ad, consequatur.</option>
        <option value="">Animi, dignissimos.</option>
        <option value="">Aperiam, sapiente!</option>
        <option value="">Repudiandae, commodi.</option>
        <option value="">Expedita, rem.</option>
        <option value="">Amet, animi!</option>
        <option value="">Distinctio, quae.</option>
        <option value="">Facilis, dolorum?</option>
        <option value="">Cum, illum?</option>
        <option value="">Suscipit, delectus.</option>
        <option value="">Reiciendis, ab!</option>
        <option value="">Architecto, nostrum.</option>
        <option value="">Obcaecati, dolores.</option>
        <option value="">Officiis, repudiandae.</option>
      </select>
    </td>
  </tr>
</table>

<h2>Select with optgroups</h2>

<table>
  <tr>
    <th>
      select with optgroups
    </th>

    <td>
      <select>
        <option value="">Lorem ipsum.</option>
        <option value="">Animi, accusamus!</option>

        <optgroup label="Lorem">
          <option value="">Tenetur, aut!</option>
          <option value="">Aperiam, nobis.</option>
          <option value="">Ipsa, nemo.</option>
          <option value="">Deleniti, saepe.</option>
        </optgroup>

        <optgroup label="Quisquam">
          <option value="">Corporis, aliquid.</option>
        </optgroup>
        
        <optgroup label="Doloribus">
          <option value="">Vero, consequuntur.</option>
          <option value="">Odit, consectetur.</option>
          <option value="">Doloremque, pariatur.</option>
        </optgroup>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      select with disabled optgroups
    </th>

    <td>
      <select>
        <option value="">Lorem ipsum.</option>
        <option value="">Animi, accusamus!</option>
        <option value="">Tenetur, aut!</option>

        <optgroup label="Lorem" disabled>
          <option value="">Aperiam, nobis.</option>
        </optgroup>

        <optgroup label="Quisquam">
          <option value="">Ipsa, nemo.</option>
          <option value="">Deleniti, saepe.</option>
          <option value="">Corporis, aliquid.</option>
        </optgroup>
        
        <optgroup label="Doloribus" disabled>
          <option value="">Vero, consequuntur.</option>
          <option value="">Odit, consectetur.</option>
          <option value="">Doloremque, pariatur.</option>
        </optgroup>
      </select>
    </td>
  </tr>
</table>

<h2>Multiple select</h2>

<table>
  <tr>
    <th>
      multiple select
    </th>

    <td>
      <select multiple>
        <option value="">Lorem ipsum.</option>
        <option value="">Animi, pariatur!</option>
        <option value="">Expedita, architecto!</option>
        <option value="">Adipisci, atque.</option>
        <option value="">Eos, quas.</option>
        <option value="">Eligendi, pariatur.</option>
        <option value="">Blanditiis, iste!</option>
        <option value="">Eum, laboriosam.</option>
        <option value="">Illum, quasi.</option>
        <option value="">Cupiditate, architecto!</option>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      multiple select with selected options
    </th>

    <td>
      <select multiple>
        <option value="">Lorem ipsum.</option>
        <option value="" selected>Animi, pariatur!</option>
        <option value="">Expedita, architecto!</option>
        <option value="">Adipisci, atque.</option>
        <option value="">Eos, quas.</option>
        <option value="" selected>Eligendi, pariatur.</option>
        <option value="">Blanditiis, iste!</option>
        <option value="">Eum, laboriosam.</option>
        <option value="" selected>Illum, quasi.</option>
        <option value="">Cupiditate, architecto!</option>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      disabled multiple select
    </th>

    <td>
      <select disabled multiple>
        <option value="">Lorem ipsum.</option>
        <option value="">Animi, pariatur!</option>
        <option value="">Expedita, architecto!</option>
        <option value="">Adipisci, atque.</option>
        <option value="">Eos, quas.</option>
        <option value="">Eligendi, pariatur.</option>
        <option value="">Blanditiis, iste!</option>
        <option value="">Eum, laboriosam.</option>
        <option value="">Illum, quasi.</option>
        <option value="">Cupiditate, architecto!</option>
      </select>
    </td>
  </tr>

  <tr>
    <th>
      multiple select with disabled options
    </th>

    <td>
      <select multiple>
        <option value="">Lorem ipsum.</option>
        <option value="" disabled>Animi, pariatur!</option>
        <option value="">Expedita, architecto!</option>
        <option value="">Adipisci, atque.</option>
        <option value="">Eos, quas.</option>
        <option value="" disabled>Eligendi, pariatur.</option>
        <option value="">Blanditiis, iste!</option>
        <option value="" disabled>Eum, laboriosam.</option>
        <option value="">Illum, quasi.</option>
        <option value="">Cupiditate, architecto!</option>
      </select>
    </td>
  </tr>
</table>

</body>
</html>