{% extends "layout.twig" %}

{% block content %}

<h1>Home</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nobis, debitis illum ipsum quasi culpa optio ut delectus mollitia et officiis autem iste eligendi quod quam ea suscipit. Beatae, accusamus, sed ad sit neque ullam tempora earum praesentium quia maiores vitae quod magni incidunt sequi tempore soluta placeat? Ea, enim cum ex esse aliquid nisi laboriosam exercitationem reiciendis nam voluptatum deserunt doloremque animi illum. Necessitatibus, fuga, perferendis. Vero, ea, laudantium, distinctio, veritatis quae earum totam numquam adipisci eligendi voluptate recusandae corrupti quos dolorum nobis ab veniam sunt odio aspernatur amet reprehenderit nisi nostrum delectus magnam illo facilis sint iusto provident.</p>

{% endblock %}