<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project &bull; {{ title }}</title>
  

  <link rel="stylesheet" href="css/main.css">

  <script src="bower_components/jquery/jquery.min.js"></script>

  <script src="bower_components/requirejs/require.js" data-main="../js/modules/main.js"></script>
</head>
<body>

{% block content %}{% endblock %}
  
</body>
</html>